{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "css/base.css" %}" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/htmx.org@2.0.2"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>
<body>
<div id="header">
	<span class="logo">Your personal accountant</span>

	{% if request.user.is_authenticated %}
		<ul class="menu">
			<li {% if section == "dashboard" %}class="selected"{% endif %}>
				<a href="{% url "dashboard" %}">My dashboard</a>
				<a href="{% url "transaction:add-transaction" %}">Transactions</a>
				<a href="{% url "settings" %}">Settings</a>
			</li>

		</ul>
	{% endif %}
	<span class="user">
     {% if request.user.is_authenticated %}
	     Hello, {{ request.user.email|default:request.user.email }}
	     <form method="post" action="{% url 'logout' %}">
           {% csrf_token %}
           <button type="submit">Logout</button>
       </form>
     {% else %}
	     <a href="{% url "login" %}">Log-in</a>
	     <a href="{% url "register" %}">Sign-up</a>
     {% endif %}
   </span>
</div>

<div id="content">
	{% block content %}
	{% endblock %}
</div>

<script>
	document.body.addEventListener('htmx:configRequest', (event) => {
		event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
	})
</script>
</body>
</html>