{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>
<body>
<div id="header">
	<span class="logo">Your personal accountant</span>

	{% if request.user.is_authenticated %}
		<ul class="menu">
			<li {% if section == "dashboard" %}class="selected"{% endif %}>
				<a class="submit" href="{% url "dashboard:list_transactions" %}">Dashboard</a>
				<a class="submit" href="{% url "transaction:add-transaction" %}">Add transaction</a>
				<a class="submit" href="{% url "settings:settings_page" %}">Settings</a>
			</li>

		</ul>
	{% endif %}
	<span class="user">
     {% if request.user.is_authenticated %}
	     Hello, {{ request.user.email|default:request.user.email }}
	     <form method="post" action="{% url 'logout' %}">
           {% csrf_token %}
           <button type="submit">Logout</button>
       </form>
     {% else %}
	     <a href="{% url "login" %}">Log-in</a>
	     <a href="{% url "register" %}">Sign-up</a>
     {% endif %}
   </span>
</div>

<div id="content">
	{% block content %}
	{% endblock %}
</div>


</body>
</html>