<div hx-swap="innerHTML"
     hx-target="#general">

	<form method="post"
	      hx-post="{% url 'create_opera' %}">
		{% csrf_token %}
		{{ form.as_p }}

		{% if opera %}
			<button type="submit"
			        hx-post="{% url 'update_opera' opera.id %}">
				Submit
			</button>
			<button hx-get="{% url 'operas' %}">
				Cancel
			</button>

		{% else %}
			<button type="submit">
				Create
			</button>

			<button hx-get="{% url 'operas' %}">
				Cancel
			</button>
		{% endif %}

	</form>

</div>

