{% extends 'base.html' %}

{% load static %}

{% block content %}

	{% block title %}TEST{% endblock %}
	<div class="container">

		<form id="test-form">
			<div id="type">
				<select id="select-transaction" name="transaction-type">
					<option value="expense">Expense</option>
					<option value="income">Income</option>
				</select>
			</div>

			<div>
				<label for="category-select">Category select</label>
				<select id="category-select"></select></div>
			<div>
				<label for="subcategory-select">Subcategory select</label>
				<select id="subcategory-select" class="select2"></select>
			</div>
			<div>
				<button type="button" id="save-subcategory-btn" style="display:none;">
					Save subcategory
				</button>
			</div>
		</form>

	</div>


	<script src='../../../static/js/test.js'></script>
	<script>
		$(document).ready(function () {
			$('.select2').select2({
				width: '200px',
				placeholder: 'Subcategory'
			})

		})
	</script>

{% endblock %}