<div class="container">
	<div class="column">
		<div id="expense-transactions-list" style="">
			<table id="transactions">
				<tr>
					<th>Category</th>
					<th>Amount</th>
				</tr>
				{% for income, sum in incomes.items %}
					<tr>
						<td>{{ income }}</td>
						<td>{{ sum }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{#<div class="container">#}
{#	<div class="column">#}
{#		<div id="expense-transactions-list" style="">#}
{#			<table id="transactions">#}
{#				<tr>#}
{#					<th>Date</th>#}
{#					<th>Category</th>#}
{#					<th>Subcategory</th>#}
{#					<th>Amount</th>#}
{#					<th>Quantity</th>#}
{#					<th></th>#}
{#					<th>Comment</th>#}
{#				</tr>#}
{#				{% for income in incomes %}#}
{#					<tr>#}
{#						<td>{{ income.created_at|date:"d.m.Y" }}</td>#}
{#						<td>#}
{#							<a href="{% url 'dashboard:detail_transaction' income.id %}">#}
{#								{{ income.category }}#}
{#							</a>#}
{#						</td>#}
{#						<td>#}
{#							{% if income.subcategory %}{{ income.subcategory }}{% else %}{% endif %}</td>#}
{#						<td>{{ income.amount }}</td>#}
{#						<td>#}
{#							{% if income.quantity %}{{ income.quantity }}{% else %}{% endif %}</td>#}
{#						<td>#}
{#							{% if income.quantity_type %}{{ income.quantity_type }}{% else %}{% endif %}</td>#}
{#						<td>#}
{#							{% if income.description %}{{ income.description }}{% else %}{% endif %}</td>#}
{#					</tr>#}
{#				{% endfor %}#}
{#			</table>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
