{% extends 'base.html' %}

{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

	<h1>Change Transaction</h1>

	<div class="transaction-page">
		<div class="trans-btn-container">
			<button class="transaction-btn" type="button" name="expense" id="transaction-btn">Expense</button>
			<button class="transaction-btn" type="button" name="income" id="transaction-btn">Income</button>
		</div>

		<form action="{% url 'dashboard:update_transaction' transaction.id %}" method="post" id="transaction-form">
			<input type="hidden" id="user-transaction-type" name="transaction_type" value="{{ transaction.type }}">
			<input type="hidden" id="user-transaction-category" name="transaction-category" value="{{ transaction.category }}">
			<input type="hidden" id="user-transaction-subcategory" name="transaction-subcategory" value="{{ transaction.subcategory }}">
			<input type="hidden" id="user-transaction-amount" name="transaction-amount" value="{{ transaction.amount }}">
			<input type="hidden" id="user-transaction-quantity" name="transaction-quantity" value="{{ transaction.quantity }}">
			<input type="hidden" id="user-transaction-quantity-type" name="transaction-quantity_type" value="{{ transaction.quantity_type }}">
			<input type="hidden" id="user-transaction-description" name="transaction-description" value="{{ transaction.description }}">
			<input type="hidden" id="user-transaction-created-at" name="transaction-created_at" value="{{ transaction.created_at }}">


			{% csrf_token %}
			<!-- Поля для ввода суммы и количества -->
			<div id="amount-quantity-fields">
				<input type="number" maxlength="1" name="amount" min="0"
				       placeholder="0" value="{{ transaction.amount }}">
				<input type="number" maxlength="10" name="quantity" min="0" step="0.1"
				       placeholder="0" value="{% if transaction.quantity %}{{ transaction.quantity }}{% else %}{% endif %}">
				<select name="quantity_type">
					<option value=""></option>
					<option value="шт">шт</option>
					<option value="кг">кг</option>
					<option value="л">л</option>
					<option value="см">см</option>
				</select>
			</div>
			<!-- Список категорий -->
			<div id="category-container">
				<label for="category-select">Categories</label>
				<select id="category-select" name="category" class="select2"></select>
			</div>
			<!-- Список подкатегорий -->
			<div id="subcategory-container">
				<label for="subcategory-select">Subcategories</label>
				<select id="subcategory-select" name="subcategory" class="select2"></select>
			</div>
			<div id="description-input">
				<input type="text" name="description" maxlength="250" placeholder="Description"
				       value="{{ transaction.description }}">
			</div>
			<div id="created-at-field">
				<input type="date" name="created_at" id="created-at-input" max=""
				       value="{{ transaction.created_at|date:'Y-m-d' }}">
			</div>
			<div id="alert-field"></div>
			<button class="submit" type="submit">
				Submit
			</button>
		</form>

		<button class="delete"
		        onclick="location.href='{% url 'dashboard:delete_transaction' transaction.id %}'">
			Delete
		</button>

	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<script src="{% static 'js/update_transaction.js' %}"></script>
	<script>
		document.querySelector('input[name="quantity"]').addEventListener('keydown', function(e) {
    // Запрещаем ввод запятой
    if (e.key === ',') {
        e.preventDefault();
    }
});
	</script>
{% endblock %}
