{% extends 'base.html' %}

{% load static %}

{% block content %}

	<h2>Delete category <b>{{ category.name }}</b>?</h2>

	<div class="column">
		<form action="{% url 'settings:delete_category' category.id %}"
		      method="post">
			{% csrf_token %}

			<button type="button"
			        class="edit-btn" onclick="location.href=
					'{% url 'settings:page_categories' %}'">
				Cancel
			</button>
			<button type="submit" class="delete">
				Confirm
			</button>
		</form>
	</div>

{% endblock %}
