<div id="singer-form"
     hx-target="#main-column"
     hx-swap="innerHTML">

	<form method="post"
	      hx-post="{% url 'opera_singer_update' singer.id %}">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit"
		        hx-post="{% url 'opera_singer_update' singer.id %}"
		        hx-target="#singers-list"
		        hx-swap="innerHTML">
			Save
		</button>
		<button type="button"
		        hx-get="{% url 'opera_singer_list' singer.opera.id %}"
		        hx-target="#opera-detail-column">
			Cancel
		</button>
	</form>
</div>