@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

p {
    line-height: 1.8;
}

a {
    color: #12c064;
    text-decoration: none;
}

a:hover {
    color: #00a74f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

h1 {
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}

h2 {
    margin: 30px 0 20px;
}

ol {
    line-height: 1.5;
}

#header {
    padding: 10px 100px;
    font-size: 14px;
    background: #757cdd;
    color: #fff;
    border-bottom: 4px solid #000000;
    overflow: auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float: left;
    color: #f3f7cc;
    font-size: 20px;
    margin-right: 10%;
}

#header ul.menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    float: left;
    padding: 4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color: #1b6d32;
    font-weight: bold;
}

#header a {
    color: #f3f7cc;
}

#header a:hover {
    color: #fff;
}

#header .user {
    float: right;
    padding-top: 4px;
}

#content {
    padding: 30px 100px;
}

/* Forms */
form {
    overflow: auto;
    width: 100%; /* Ширина формы */
    max-width: 500px; /* Ограничение максимальной ширины */
    margin: 0 auto; /* Центрируем форму */
}

form p {
    width: 100%;
    overflow: auto;
}

label {
    clear: both;
    color: #333;
    margin-bottom: 4px;
    display: block; /* Убедитесь, что метки занимают всю ширину */
}

input, textarea, select {
    clear: both;
    margin: 0 0 10px;
    background: #efefef;
    border: 1px solid #ccc; /* Убедитесь, что у элементов есть рамка */
    padding: 6px 10px;
    font-size: 14px;
}



.errorlist {
    color: #cc0033;
    clear: both;
    padding-left: 10px;
}

.helptext {
    margin: 0 0 20px 0;
    color: #aaa;
    clear: both;
    float: left;
    font-size: 13px;
}


.login-form {
    float: left;
}

/* Social-auth */
.social {
    float: right;
}

.social li {
    list-style: none;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.social li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

.social li.facebook {
    background: #3b5399;
}

.social li.twitter {
    background: #00cffa;
}

.social li.google {
    background: #de1710;
}




.form-row {
    display: flex; /* Используем Flexbox для размещения элементов в одной строке */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Выравнивание по центру */
    gap: 10px; /* Отступ между элементами */
    padding: 10px;
}

.form-row select, .form-row input {
    flex: 1; /* Заставляем элементы растягиваться равномерно */
}


.image-container {
    margin-top: 40px;
}

/* Actions */
.action {
    clear: both;
    overflow: auto;
}

.action .images {
    float: left;
    margin: 0 10px 10px 0;
}

.action .date {
    font-style: italic;
    color: #ccc;
}

/* Buttons */
.submit {
    background-color: #4CAF50; /* Задний фон кнопки */
    border: none; /* Убираем рамку */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: inline-block; /* Чтобы кнопки располагались в одну строку */
    font-size: 16px; /* Размер текста */
    margin: 5px; /* Внешний отступ между кнопками */
    cursor: pointer; /* Курсор в виде руки при наведении */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета при наведении */
}

.submit:hover {
    background-color: #45a049; /* Изменение цвета при наведении */
}

.transaction-btn {
    background-color: #4c95af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.transaction-btn:hover {
    background-color: #006cd8;
}
input[type=submit], a.button {
    font-weight: bold;
    background: #12c064;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border: none; /* Убираем рамку */
    cursor: pointer; /* Курсор в виде руки */
}

.delete-button {
    background-color: #8f0000; /* Задний фон кнопки */
    border: none; /* Убираем рамку */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: inline-block; /* Чтобы кнопки располагались в одну строку */
    font-size: 16px; /* Размер текста */
    margin: 5px; /* Внешний отступ между кнопками */
    cursor: pointer; /* Курсор в виде руки при наведении */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета при наведении */
}
.delete-button:hover {
    background-color: #231e1e;
}

.category_create_button {
    background-color: #4CAF50; /* Задний фон кнопки */
    border: none; /* Убираем рамку */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: block; /* Чтобы кнопки располагались в одну строку */
    font-size: 16px; /* Размер текста */
    margin: 5px auto; /* Внешний отступ между кнопками */
    cursor: pointer; /* Курсор в виде руки при наведении */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета при наведении */
}
.category_create_button:hover {
    background-color: #387003;
}

/* Transaction page styles */
.transaction-page {
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центруем элементы по горизонтали */
    text-align: center;
    max-width: 600px; /* Ограничиваем ширину формы */
    margin: 0 auto; /* Центрируем форму на странице */
}

.form-control {
    margin-bottom: 10px; /* Отступ между полями */
}

.select2-container {
    margin-bottom: 10px; /* Отступ между выпадающими списками */
}


label {
    display: block; /* Убедитесь, что метки занимают всю ширину */
    margin: 10px 0 5px;
}

select {
    width: 100%; /* Ширина выпадающего списка 100% */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.category-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    justify-content: center;
}

.category-page {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центруем элементы по горизонтали */
    text-align: center;
    max-width: 600px; /* Ограничиваем ширину формы */
    margin: 0 auto; /* Центрируем форму на странице */
}

/* Основной контейнер */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Расстояние между столбцами */
    margin: 20px 0;
    flex-wrap: wrap; /* Добавляем гибкость для перехода в один столбец */
}

/* Оформление столбцов */
.column {
    flex: 1;
    min-width: 300px; /* Минимальная ширина столбцов */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Кнопка создания подкатегории */
.create-subcategory-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Список подкатегорий */
.subcategory-list {
    list-style-type: none;
    padding: 0;
}

.subcategory-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

/* Адаптивный дизайн: при сужении экрана */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}

/* Tabs */

 #tabs > .tab-list {
  border-bottom: solid 3px #eee;
 }
 #tabs > .tab-list button {
  border: none;
  display: inline-block;
  padding: 5px 10px;
  cursor:pointer;
  background-color: transparent;
 }
 #tabs > .tab-list button:hover {
  color: #3b5399;
 }
 #tabs > .tab-list button.selected {
  background-color: #eee;
 }
 #tabs > .tab-content {
  padding:10px;
  margin-bottom:100px;
 }