{% extends 'base.html' %}

{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}
	<h2>Expense</h2>
	{% for category in categories %}
		{% if category.type == 'expense' %}
			<ul>
				<a href="{% url 'settings:category_edit' category.pk %}">
					{{ category }}</a>
			</ul>

		{% endif %}
	{% endfor %}
	<h2>Income</h2>
	{% for category in categories %}
		{% if category.type == 'income' %}
			<ul>
				<a href="{% url 'settings:category_edit' category.pk %}">
					{{ category }}</a>
			</ul>
		{% endif %}
	{% endfor %}
{% endblock %}

