{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="column">
        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="column">
        <h3>Subcategories</h3>
	    <a href="{% url 'settings:create_subcategory' category.pk%}">Create
		    new subcategory</a>
        <ul>
			{% for subcategory in subcategories %}
				{{ subcategory }}
			{% endfor %}

        </ul>
    </div>
</div>

<script src="{% static 'js/category_edit.js' %}"></script>
{% endblock %}
