{% extends "base.html" %}

{% block title %}My categories{% endblock %}

{% block content %}

	<div class="container">
		<div class="column">
			<button type="button"
			        hx-get="{% url 'categories_list' 'expense' %}"
			        hx-target="#categories-list">
				Expense
			</button>
		</div>

		<div class="column">
			<button type="button"
			        hx-get="{% url 'categories_list' 'income' %}"
			        hx-target="#categories-list">
				Income
			</button>
		</div>
	</div>

	<div id="categories-list"></div>

{% endblock %}