{% extends 'base.html' %}

{% load static %}

{% block content %}

	{% block title %}TEST{% endblock %}

	<input type="hidden" id="user-transaction-type" name="transaction-type" value="{{ transaction.type }}">
	<input type="hidden" id="transaction-type" name="transaction-type" value="{{ cate }}">
	<input type="hidden" id="transaction-type" name="transaction-type" value="{{ transaction.type }}">
	<input type="hidden" id="transaction-type" name="transaction-type" value="{{ transaction.type }}">
	<input type="hidden" id="transaction-type" name="transaction-type" value="{{ transaction.type }}">
	<input type="hidden" id="transaction-type" name="transaction-type" value="{{ transaction.type }}">
	<input type="hidden" id="transaction-type" name="transaction-type" value="{{ transaction.type }}">
	<input type="hidden" id="transaction-type" name="transaction-type" value="{{ transaction.type }}">


	<button type="button" name="expense" id="transaction-btn">Expense</button>
	<button type="button" name="income" id="transaction-btn">Income</button>

	<label for="category-select">Categories</label>
	<select id="category-select" class="select2"></select>

	<label for="subcategory-select">Subcategories</label>
	<select id="subcategory-select" class="select2"></select>

	<script src='../../static/js/test.js'></script>

{% endblock %}