{% extends 'base.html' %}

{% load static %}

{% block content %}

	{% block title %}TEST{% endblock %}

	<form id="test-form">

		<div>
			<label for="category-select">Categories</label>
			<input id="category-select" name="category" class="select2">
		</div>

		<div>
			<label for="subcategory-select">Subcategories</label>
			<input id="subcategory-select" name="subcategory" class="select2">
		</div>
		<label for="category-select">Select</label>
		<select name="category-select-option" id="category-select">

			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</form>
	<script src='../../static/js/test.js'></script>
{% endblock %}