{% extends 'base.html' %}

{% load static %}

{% block content %}

	<h2>Delete subcategory <b>{{ subcategory.name }}</b>?</h2>

	<div class="column">
		<form action="{% url 'settings:delete_subcategory' subcategory.id %}"
		      method="post">
			{% csrf_token %}

			<button type="button"
			        class="edit-btn"
			        onclick="location.href='{% url 'settings:page_update_category' subcategory.category.id %}'">
				Cancel
			</button>
			<button type="submit" class="delete">
				Confirm
			</button>
		</form>
	</div>

{% endblock %}

