{% extends 'base.html' %}

{% load static %}

{% block title %}Add Transaction{% endblock %}

{% block content %}

	<h1>Add Transaction</h1>
	<div id="transaction-select">

		<button type="button"
		        hx-get="{% url 'categories_list' 'expense' %}"
		        hx-target="#transaction-create-form">
			Expense
		</button>


		<button type="button"
		        hx-get="{% url 'categories_list' 'income' %}"
		        hx-target="#transaction-create-form">
			Income
		</button>

	</div>
	<div id="transaction-create-form"></div>

{% endblock %}
