<div id="subcategories-list">

	<button hx-get="{% url 'subcategory_create' category.id %}"
	        hx-target="#subcategory-form"
	        hx-swap="beforeend">
		Add subcategory
	</button>

	{% if category.type.name == 'expense' %}
		<button hx-get="{% url 'categories_list' 'expense' %}"
		        hx-target="#categories-list">
			Back
		</button>
	{% elif category.type.name == 'income' %}
		<button hx-get="{% url 'categories_list' 'income' %}"
		        hx-target="#categories-list">
			Back
		</button>
	{% endif %}

	<div id="subcategory-form"></div>

	<div id="subcategory-list">
{#		<div class="column category-column">#}
			{% for subcategory in subcategories %}
				<ul>
				Subcategories by "{{ category.name }}"<br>
					{% include 'subcategories/subcategory_detail.html' %}
				</ul>
			{% endfor %}
{#		</div>#}
	</div>

</div>
