{% extends "base.html" %}

{% block title %}Subcategories{% endblock %}

{% block content %}
	<h1>Subcategory for {{ category.id }}</h1>
	<div class="module">
		{% for category in object_list %}
			{#	       ПОМЕНЯТЬ В CSS       #}
			<div class="course-info">
				<h3>{{ subcategory.name }}</h3>
				<p><a href="{% url "subcategory_update" subcategory.id %}">Edit</a>
					<a href="{% url "subcategory_delete" subcategory.id %}">Delete</a>
				</p>
			</div>
		{% empty %}
			<p>You haven't created any subcategories yet.</p>
		{% endfor %}
		<p>
			<a href="{% url "subcategory_create" %}" class="button">Create new
				subcategory</a>
		</p>
	</div>
{% endblock %}