{% extends 'base.html' %}

{% load static %}

{% block title %}Add Transaction{% endblock %}

{% block content %}
	<h1>Add Transaction</h1>

	<!-- Кнопки для выбора типа транзакции -->
	<div>
		<button id="expense-btn" class="expense-btn" data-type="expense">
			Expense
		</button>
		<button id="income-btn" class="income-btn" data-type="income">
			Income
		</button>
	</div>

	<input type="hidden" id="transaction_type" name="transaction_type"
	       value="expense">

	<!-- Форма для ввода суммы и описания -->
	<form method="post" id="transaction-form">
		{% csrf_token %}
		<div class="form-row">
			<!-- Список категорий -->
			<label for="category">Category</label>
			<select name="category" id="category">
				<option value="">Category</option>
				{% for category in categories %}
					<option value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}
			</select>

			<!-- Список подкатегорий -->
			<label for="subcategory">Subcategory</label>
			<select id="subcategory" name="subcategory">
				<option value="">Subcategory</option>
				{% for subcategory in subcategories %}

				{% endfor %}
				<!-- Здесь будут динамически загруженные подкатегории -->
			</select>

			{{ form.as_p }}  <!-- Используем только одну форму -->

			<input type="hidden" id="transaction_type"
			       name="transaction_type"
			       value="expense">
			<!-- Скрытое поле для типа транзакции -->
			<button class="add-row" type="button" id="add-row">+</button>
			<button class="del-row" type="button" id="del-row">-</button>
		</div>
	<button class="submit" type="submit">Submit</button>
	</form>



	<script src="{% static 'js/transaction.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>

	<!-- Подключаем файл JavaScript -->
	<script>
		// Обработчик событий для кнопок выбора типа транзакции
		document.querySelectorAll('.transaction-btn').forEach(button => {
			button.addEventListener('click', function () {
				const type = this.getAttribute('data-type');
				document.getElementById('transaction_type').value = type; // Устанавливаем значение типа транзакции
				showForm(type); // Вызываем функцию для показа формы
			});
		});

		function showForm(type) {
			// Здесь вы можете добавить логику для показа/скрытия элементов формы, если это необходимо
		}
	</script>
{% endblock %}
