{% extends 'test_base.html' %}

{% block content %}
	<div id="general">
		{% block title %}{% endblock %}

		<button hx-get="{% url 'create_opera_form' %}"
		        hx-target="#operaform"
		        hx-swap="beforeend">
			Add opera
		</button>

		<div id='operaform'></div>

		<div class="container">
			<div class="column">
				<h4>Operas</h4>
				{% for opera in operas %}
					{% include 'partials/opera_detail.html' %}
				{% endfor %}
			</div>

			<div class="column"
			     id="main-column">
				<div id="opera-detail-column"></div>
			</div>

		</div>
	</div>
{% endblock %}
