{% extends 'base.html' %}

{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}

	<div>
		<h2>Create new category</h2>
		<div class="column">
			{% include 'category/create_category.html' with form=form %}
		</div>
	</div>

	<div class="tables-container">
		<!-- Левая колонка с таблицей для категорий 'expense' -->
		<div class="table-column" style="margin-right: 100px">
			<h2>Expense</h2>
			<table>
				{% for category in categories %}
					{% if category.type == 'expense' %}
						<tr>
							<td>{{ category.name }}</td>
							<td class="table-edit-btn"
							    onclick="location.href='{% url 'settings:update_category' category.id %}'">
								Edit
							</td>
							<td class="table-delete-btn"
							    onclick="location.href='{% url 'settings:delete_category' category.id %}'">
								Delete
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>

		<!-- Правая колонка с таблицей для категорий 'income' -->
		<div class="table-column" id="left-table">
			<h2>Income</h2>
			<table>
				{% for category in categories %}
					{% if category.type == 'income' %}
						<tr>
							<td>{{ category.name }}</td>
							<td class="table-edit-btn"
							    onclick="location.href='{% url 'settings:update_category' category.id %}'">
								Edit
							</td>
							<td class="table-delete-btn"
							    onclick="location.href='{% url 'settings:delete_category' category.id %}'">
								Delete
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}

