{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="container" style="display: block; justify-content: center">
		<div class="column">
			<form method="post">
				{% csrf_token %}
				{{ form.type }}
				{{ form.name }}
				<button type="submit" value="Save"
				        class="submit">Save
				</button>
			</form>
		</div>

		<div class="table-column">
			<div style="margin-bottom: 10px; margin-top: 50px;">
				<form method="get" action="{% url 'settings:create_subcategory' category.id %}">
					<button type="submit" class="submit" style="width: auto">
						Add subcategory
					</button>
				</form>
			</div>
			{% if subcategories %}
				<table>
					{% for subcategory in subcategories %}
						<tr>
							<td>{{ subcategory.name }}</td>
							<td class="table-edit-btn"
							    onclick="location.href='{% url 'settings:update_subcategory' subcategory.id %}'">
								Edit
							</td>
							<td class="table-delete-btn"
							    onclick="location.href='{% url 'settings:delete_subcategory' subcategory.id %}'">
								Delete
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				No subcategories
			{% endif %}

		</div>
	</div>



{% endblock %}