{% block content %}
	<div id="top-categories-list"></div>

	<button hx-get="{% url 'category_form'%}"
	        hx-target="#create-category-form"
	        hx-swap="beforeend">
		Add Category
	</button>

	<div id="create-category-form"></div>

	<div class="container">
		<div class="column category-column">
			{% for category in categories %}
				<ul>
					<li>
						{% include 'categories/category_detail.html' %}
					</li>
				</ul>
			{% endfor %}
		</div>
		<div class="column subcategory-column">
			<div id="category-detail-column"></div>
		</div>
	</div>

{% endblock %}