{% extends "base.html" %}

{% load static %}

{% block title %}
	{% if object %}
		Edit category "{{ object.name }}"
	{% else %}
		Create a new category
	{% endif %}
{% endblock %}

{% block content %}
	<h1>
		{% if object %}
			Edit category "{{ object.name }}"
		{% else %}
			Create a new category
		{% endif %}
	</h1>

	<div class="container">
		<!-- Левая колонка для формы редактирования категории -->
		<div class="column category-column">
			<form method="post">
				{{ form.as_p }} <!-- Форма категории -->
				{% csrf_token %}
				<p>
					<button type="submit" class="submit">Save</button>
				</p>
				{% include 'categories/delete.html' %}
				<!-- Кнопка удаления категории -->
			</form>
		</div>


		<div class="column subcategory-column">
			<h2>Subcategories</h2>

			<!-- Форма для добавления новой подкатегории -->
			<form id="add-subcategory-form" data-url="
{% url 'subcategory_create' object.pk %}">
				{% csrf_token %}
				<input type="text" id="subcategory-name" name="subcategory_name" placeholder="Add new subcategory" required>
				<button type="submit" class="submit">Add</button>
			</form>

			<!-- Список подкатегорий -->
			<ul id="subcategory-list" class="subcategory-list">
				{% for subcategory in subcategories %}
					<li id="subcategory-{{ subcategory.id }}">
						<form class="subcategory-edit-form" data-subcategory-id="{{ subcategory.id }}">
							{% csrf_token %}
							<input type="text" name="name" value="{{ subcategory.name }}">
							<button type="submit" class="submit">Save</button>
						</form>

						<button class="delete-button" data-subcategory-id="{{ subcategory.id }}">
							Delete
						</button>
					</li>
				{% empty %}
					<li>No subcategories available.</li>
				{% endfor %}
			</ul>
		</div>


	</div>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="{% static 'js/category_edit.js' %}"></script>

{% endblock %}


