{% extends "base.html" %}

{% block title %}My categories{% endblock %}

{% block content %}


	<button class="category_create_button"
	        onclick="window.location.href='{% url 'category_create' %}'">
		Create new category
	</button>

	<div class="container">

		<div class="column category-column"><h1>Expense</h1>
			{% for category in object_list %}
				{% if category.type == 'expense' %}
					<div>
						<a href="{% url "category_update" category.id %}">
							{{ category.name }}
						</a>
					</div>

				{% endif %}

			{% empty %}
				<p>You haven't created any Expense categories yet.</p>
			{% endfor %}
		</div>
		<div class="column category-column">
			<h1>Income</h1>
			{% for category in object_list %}
				{% if category.type == 'income' %}

					<div>
						<a href="{% url "category_update" category.id %}">
							{{ category.name }}
						</a>
					</div>

				{% endif %}

			{% empty %}
				<p>You haven't created any Expense categories yet.</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}